* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

/*.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}*/

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.radar-icon {
    background-image: url("../gfx/radar.png");
    background-size: contain;
}

.weather-icon {
    background-image: url("../gfx/weather.png");
    background-size: contain;
}

.compass-icon {
    background-image: url("../gfx/compass.png");
    background-size: contain;
}

.alerts-icon {
    background-image: url("../gfx/alert.png");
    background-size: contain;
}

.settings-icon {
    background-image: url("../gfx/settings.png");
    background-size: contain;  
}