.about {
	display: block !important;

	text-align: center;
}

.about .ui-scroller {
	display: none !important;
}

.about__logo {
	display: block;
	height: 100px;
	margin: 20px auto 10px;
	width: 100px;
}

.about h1 {
	margin: 0;

	font-size: 32px;
	color: #fff;
}

.about p {
	margin: 0;
}

.about .about__subtitle {
	margin-top: -10px;

	font-size: 18px;

	color: #fff;
}

.about__version {
	margin: 10px 0;

	font-size: 14px;
	text-transform: uppercase;
}
.about__links {
	font-size: 14px;
	color: #fff;
}
.about .about__copyrights {
	margin-top: 10px;

	font-size: 14px;
}