.radar {
  display: flex;
  position: relative;
}

.radar__header {
  height: 137px;
  left: 0;
  padding: 33px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;

  font-size: 28px;
  line-height: 28px;
  text-align: center;

  background-color: rgba(0, 0, 0, .4);
  color: #fff;
}

.radar__date {
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 24px;
}

.radar__temp {
  display: block;
  width: 100%;
}
.radar__date span,
.radar__temp span {
  margin-left: 2px;

  font-size: 18px;
  text-transform: uppercase;
}
.radar__temp .radar__separator {
  margin: 0 21px 0 25px;

  font-size: 28px;
  text-transform: none;
}

.radar__update {
  display: block;
  height: 45px;
  margin: 5px auto 0;
  padding: 10px 0;
  position: relative;
  top: -10px;

  font-size: 18px;
  line-height: 26px;

  background: none;
  border: 0;
  color: #fff;
}
.radar__update::before {
  content: '';
  display: inline-block;
  height: 25px;
  margin-right: 17px;
  width: 25px;

  vertical-align: top;

  background: #009de8 url(../resources/gfx/refresh.png) 50% 50% / contain no-repeat;
  border-radius: 50%;
}
.radar__update:disabled::before {
  -webkit-animation:spin 1s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.radar__content {
  display: flex;
  padding: 0 !important;
}

.radar__map {
  display: block;  
  height: 100%;
  width: 100%;
}

.radar__more {
  display: none;
  height: 60px;
  position: absolute;
  right: 10px;
  top: calc(50% - 30px);
  width: 60px;

  text-align: center;

  background: #000 url(../resources/gfx/device.png) 50% 50% / 40px 40px no-repeat;
  border-radius: 50%;
}

.radar__footer {
  background: transparent;
}

.radar__alerts {
  display: none;
  top: 3px;

  background: rgba(0, 157, 232, .75) url(../resources/gfx/icon-alerts.png) 50% 25px / 42px 42px no-repeat !important;
}

.radar__badge {
  display: block;
  height: 25px;
  left: calc(50% + 6px);
  min-width: 25px;
  padding: 0 4px;
  position: absolute;
  top: 42px;

  font-size: 18px;
  line-height: 25px;
  text-align: center;

  background-color: #d6202b;
  border-radius: 12.5px;
}