* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

/* To remove shadow from radio buttons */
.ui-listview li {
	-webkit-mask-image: none;
}

.ui-page#main .ui-selector .ui-item {
	background-color: rgba(138,138,138,1);
}

.ui-page#main .ui-selector .ui-item-active {
	background-color: rgba(0,143,191,1);
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

/*.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}*/

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.radar-icon {
    background-image: url("../resources/gfx/storm-icon-weather-radar.png");
    background-size: contain;
}

.weather-icon {
    background-image: url("../resources/gfx/storm-icon-weather-changes.png");
    background-size: contain;
}

.compass-icon {
    background-image: url("../resources/gfx/compass.png");
    background-size: contain;
}

.alerts-icon {
    background-image: url("../resources/gfx/storm-icon-weather-alerts.png");
    background-size: contain;
}

.settings-icon {
    background-image: url("../resources/gfx/storm-icon-settings.png");
    background-size: contain;  
}

.test-content-text {
	font-size:.5em;
	color:#fff;
}

.test-title-text {
	color: #fff;
	text-align: center;
	width: 100%;
	left: 0;
	top: 20%;
	position: absolute;
	font-size: .65em;
}

.test-image-preview {
	width: 250px;
	height: 140px;
}

#radar.ui-page {
	position: relative;
}

#radar.ui-page #map {
	width: 100%;
	height: 100%
}

#radar.ui-page #textWrapper {
	position: absolute;
	top: 150px;
	text-align: center;
	width: 100%;
	background-color: black;
	text-color: white;
}

#radar.ui-page #header {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	visibility:hidden;
}