* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

/* To remove shadow from radio buttons */
.ui-listview li {
	-webkit-mask-image: none;
}

.ui-page#main .ui-selector .ui-item {
	background-color: rgba(138,138,138,1);
}

.ui-page#main .ui-selector .ui-item-active {
	background-color: #009DE8;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

/*.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}*/

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.radar-icon {
    background-image: url("../resources/gfx/storm-icon-weather-radar.png");
    background-size: contain;
}

.weather-icon {
    background-image: url("../resources/gfx/storm-icon-weather-changes.png");
    background-size: contain;
}

.alerts-icon {
    background-image: url("../resources/gfx/storm-icon-weather-alerts.png");
    background-size: contain;
}

.settings-icon {
    background-image: url("../resources/gfx/storm-icon-settings.png");
    background-size: contain;  
}

.test-content-text {
	font-size:.5em;
	color:#fff;
}

.test-title-text {
	color: #fff;
	text-align: center;
	width: 100%;
	left: 0;
	top: 20%;
	position: absolute;
	font-size: .65em;
}

.test-image-preview {
	width: 250px;
	height: 140px;
}

.radar-temperature-normal-text {
	opacity: 0.9;
	font-family: BreezeSans;
	font-size: 28px;
	color: #ffffff;
}

.radar-temperature-small-text {
	font-family: BreezeSans;
	font-size: 18px;
	color: #e0e0e0;
}
/* radar */
#radar.ui-page {
	position: relative;
}

#radar.ui-page #map {
	width: 100%;
	height: 100%;
	visibility:hidden;
}

#radar.ui-page #header {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 127px;
	background-color: rgba(0,0,0,0.4);
	visibility: hidden;
}

#radar.ui-page #header #temperatureBox {
	position: absolute;
	width: 100%;
	bottom: 42px;
	text-align: center;
}

#radar.ui-page #header #temperatureBox #unit {
	margin-left: 1px;
}

#radar.ui-page #header #temperatureBox #at {
	margin-left: 19px;
}

#radar.ui-page #header #temperatureBox #time {
	margin-left: 13px;
}

#radar.ui-page #header #temperatureBox #ampm {
	margin-left: 2px;
}

/*time*/
#radar.ui-page #header #timeBox {
	position: absolute;
	width: 100%;
	bottom: 78px;
	text-align: center;
	
}

#radar.ui-page #header #timeBox #value {
	font-size: 24px;
	font-family: BreezeSans;
	color: #ffffff;
}

#radar.ui-page #header #timeBox #unit {
	font-size: 18px;
	font-family: BreezeSans;
	color: #e0e0e0;
}

#radar.ui-page #refreshBox {
	position: absolute;
	bottom: 12px;
	width: 100%;
	text-align: center;
}

#radar.ui-page #refreshBox #btn {
	width: 25px;
	height: 25px;
	vertical-align: middle;
	-webkit-transform-origin: center center;
}

#radar.ui-page #refreshBox #btn:disabled {
	-webkit-animation:spin 1s linear infinite;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

#radar.ui-page #refreshBox #text {
	font-size: 18px;
	color: #ffffff;
	vertical-align: middle;
}

.ui-page .ui-selector .ui-selector-indicator-arrow {
	width: 180px;
	height: 180px;
	margin: -90px;
}

.ui-page .ui-selector .ui-selector-indicator-arrow::before {
	-webkit-mask-image: url("../resources/gfx/selector_arrow.png");
}

.ui-page .ui-selector .ui-item {
	width: 72px;
	height: 72px;
	margin: -36px;
}

.ui-page .ui-selector .ui-selector-indicator {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index: auto;
}

#radar.ui-page #footer {
	visibility: hidden;
}

#radar.ui-page #footer #alerts {
	background-color: #009de8;
	opacity: 0.75;
}

#radar.ui-page #footer #alerts #icon {
	display: block;
	width: 42px;
	height: 42px;
	background-image: url("../resources/gfx/icon-alerts.png");
	margin: 29px auto;
	background-size: contain;
}

#radar.ui-page #alerts-counter-container {
	visibility: hidden;
	position: absolute;
	left: 191px;
	top: 311px;
	width: 20px;
	height: 20px;
	line-height: 5px;
	border-radius: 50%;
	background: #d6202b;
	text-align: center;
}

#radar.ui-page #alerts-counter-value {
	display:inline;
	font-size: 12px;
	color: white;
}