body {
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 0;
}

.container {
	background-image: url("../resources/images/preview.png");
	background-color: #000000;
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.radar-normal-text-24px {
	font-size: 24px;
	color: #ffffff;
}

.radar-normal-text-28px {
	opacity: 0.9;
	font-size: 28px;
	color: #ffffff;
} 

.radar-small-text {
	font-size: 18px;
	color: #e0e0e0;
}

#header {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 127px;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

div#timeBox {
	position: absolute;
	width: 100%;
	bottom: 78px;
	text-align: center;
}

div#temperatureBox {
	position: absolute;
	width: 100%;
	bottom: 42px;
	text-align: center;
}

#play {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 130px;
	left: 130px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 97px;	
}

#footer-alerts {
	text-align: center;
	height: 100%;
	opacity: 0.75;
	background-image: url(../resources/images/tw_bottom_btn_bg.png);
}

#footer-alerts-icon {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 159px;
	top: 25px;
	background-image: url("../resources/images/icon-alerts.png");
	background-size: contain;
}

#footer-alerts-counter-container {
	position: absolute;
	left: 191px;
	top: 51px;
	width: 20px;
	height: 20px;
	line-height: 17px;
	background-image: url("../resources/images/alerts_bg.png");
	background-size: contain;
}

#footer-alerts-counter-container-value {
	display:inline;
	font-size: 12px;
	color: white;
}