body {
  height: 360px;
  margin: 0;
  position: relative;
  padding: 0;
  width: 360px;

  font-family: BreezeSans, Verdana, Lucida Sans, Arial, Helvetica, sans-serif;

  /*background: #000 url(../resources/images/preview.png) 50% 50% / 100% 100% no-repeat;*/
  background: #666;
  color: #fff;
}

.radar__header {
  height: 105px;
  left: 0;
  padding: 32px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;

  font-size: 28px;
  line-height: 28px;
  text-align: center;

  background-color: rgba(0, 0, 0, .4);
}

.radar__date {
  margin-bottom: 4px;

  font-size: 24px;
  line-height: 24px;
}

.radar__temp {
  display: block;
  width: 100%;
}
.radar__small {
  font-size: 18px;
}
.radar__separator {
  margin: 0 13px;

  font-size: 28px;
}

.radar__footer {
  bottom: 0;
  height: 97px;
  position: absolute;
  width: 100%;
  background: url(../resources/images/tw_bottom_btn_bg.png) 50% 0 no-repeat;
}

.radar__alerts {
  height: 100%;
  position: relative;
  width: 100%;

  background: url(../resources/gfx/icon-alerts.png) 50% 50% no-repeat;
}

.radar__badge {
  display: block;
  height: 25px;
  left: 50%;
  min-width: 25px;
  padding: 0 4px;
  position: absolute;
  top: 42px;

  font-size: 18px;
  line-height: 25px;
  text-align: center;

  background-color: #d6202b;
  border-radius: 12px;
}