body {
  height: 360px;
  margin: 0;
  position: relative;
  padding: 0;
  width: 360px;

  font-family: BreezeSans, Verdana, Lucida Sans, Arial, Helvetica, sans-serif;

  background: #000 url(../resources/images/preview.png) 50% 50% / 100% 100% no-repeat;
  color: #fff;
}

.header {
  height: 105px;
  left: 0;
  padding: 32px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-inde: 10;

  font-size: 28px;
  line-height: 28px;
  text-align: center;

  background-color: rgba(0, 0, 0, .4);
}

.date {
  margin-bottom: 4px;

  font-size: 24px;
  line-height: 24px;
}

.temp {
  display: block;
  width: 100%;
}
.small {
  font-size: 18px;
}
.separator {
  margin: 0 13px;

  font-size: 28px;
}

.open {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 20;

  background: url(../resources/images/play.png) 50% 50% no-repeat;
}

.footer {
  bottom: 0;
  height: 97px;
  position: absolute;
  width: 100%;
  z-index: 20;

  background: url(../resources/images/tw_bottom_btn_bg.png) 50% 0 no-repeat;
}

.alerts {
  height: 100%;
  position: relative;
  width: 100%;

  background: url(../resources/images/icon-alerts.png) 50% 50% / 42px 42px no-repeat;
}

.badge {
  display: block;
  height: 25px;
  left: 50%;
  min-width: 25px;
  padding: 0 4px;
  position: absolute;
  top: 42px;

  font-size: 18px;
  line-height: 25px;
  text-align: center;

  background-color: #d6202b;
}